In [2]:
import tweepy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from functions import PoliticalSentiment

%load_ext autoreload
%autoreload 2

In [3]:
# Enter your API keys and access tokens here, make sure to delete credentials when committing to git
ps = PoliticalSentiment(consumer_key, consumer_secret, access_token, access_token_secret)

In [65]:
handles = pd.read_csv("data/handles.csv", sep=",")
handles.head(2)

  FirstName  LastName    Twitter Handle St/Dis Party
0      Alma     Adams         @RepAdams   NC12     D
1    Robert  Aderholt  @Robert_Aderholt   AL04     R

In [62]:
handles_d = handles[handles["Party"] == "D"]["Twitter Handle"]
handles_r = handles[handles["Party"] == "R"]["Twitter Handle"]

In [47]:
tweets_d = []
for h in handles_d:
    tweets = ps.get_tweets(h, 300)
    tweets_d.append(tweets)
tweets_d = [x.text for sublist in tweets_d for x in sublist]
print(len(tweets_d))

9577

In [63]:
tweets_r = []
for h in handles_r:
    tweets = ps.get_tweets(h, 300)
    tweets_r.append(tweets)
tweets_r = [x.text for sublist in tweets_r for x in sublist]
print(len(tweets_r))

14258

In [66]:
tweets_df = pd.DataFrame()
tweets = tweets_d + tweets_r
labels= ["D"] * len(tweets_d) + ["R"] * len(tweets_r)
tweets_df["tweets"] = tweets
tweets_df["labls"] = labels
tweets_df.to_csv("data/tweets.csv", index=False)

In [67]:
tweets_df = pd.read_csv("data/tweets.csv")
tweets_df.head()

                                              tweets labls
0  Proud to see the State House doing the work! #...     D
1  RT @RepJamesClyburn: The first Social Security...     D
2  RT @ReubenJones1: Happening Today: @VP Kamala ...     D
3  RT @cadwego: “@SenBooker (D-NJ) and Congresswo...     D
4  The beating and murder of Tyre Nichols is unco...     D